<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CSS Carousel with keyboard controls</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  	<form>

			<input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
			<input type="radio" name="fancy" value="hearts" id="hearts" />
			<input type="radio" name="fancy" value="spades" id="spades" />
			<input type="radio" name="fancy" value="diamonds" id="diamonds" />			
			<label for="clubs">&#9827; Clubs</label><label for="hearts">&#9829; Hearts</label><label for="spades">&#9824; Spades</label><label for="diamonds">&#9830; Diamonds</label>

			<div class="keys">Use left and right keys to navigate</div>
	</form>
  
    <script src="js/index.js"></script>

</body>
</html>
